.button {
  background-color: $color-grey;
  min-width: 80px;
  padding: 13px 30px;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 30px;
  font-weight: 500;
  font-family: $roboto;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: darken($color-grey, 5%);
  }

  &.active {
    background-color: darken($color-main, 2%);
    color: #fff;

    &:hover {
      background-color: $color-hover;
    }
  }

  &.large {
    height: 50px;
    width: 300px;
    align-items: center;
    background-color: #191f2c;
    color: #fff;
    font-size: 28px;
    font-weight: lighter;
    border-radius: 40px;
    &:hover {
      background-color: $color-hover;
    }
  }
  &.main {
    position: fixed;
    bottom: 0;
    width: 130px;
    padding: 20px 60px;
    margin: 0 0 90px 830px;
    border-radius: 50px;
    font-size: 24px;
    font-family: $inter;
    font-weight: bold;
  }
}
