$color-main: #f6b716;
$color-hover: #f89500;
$color-grey: #eceef6;
$input-height: 40px;
$input-large: 260px;
$input-medium: 160px;
$input-small: 90px;
$input-smallest: 50px;
$input-placeholder: #d4d4d4;
