@import '../../assets/global-scss/fonts.scss';
@import '../../assets/global-scss/variables.scss';

.main-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 140px 70px 140px;
  font-family: $inter;
  section {
    width: 100%;
    flex-direction: column;
  }
  .article {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
  }
  .title {
    font-size: 32px;
    margin: 55px 0;
  }
  .inputs {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input {
    height: $input-height;
    border: 1px solid $input-placeholder;
    border-radius: 5px;
    margin: 0 24px 20px 0;
    padding: 0 19px;
    font-family: $inter;
    font-size: 18px;
    &.smallest {
      width: $input-smallest;
    }
    &.small {
      width: $input-small;
    }
    &.medium {
      width: $input-medium;
    }
    &.large {
      width: $input-large;
    }
    &.invalid {
      border-color: red;
    }
  }
  input::placeholder {
    font-size: 18px;
    color: $input-placeholder;
  }

  .check-item {
    margin-bottom: 20px;
    .checkbox {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      accent-color: #34495e;
    }
  }

  .textarea {
    display: block;
    width: $input-large + $input-medium + 64px;
    height: 100px;
    padding-top: 10px;
    font-size: 18px;
  }
  textarea::placeholder {
    font-size: 18px;
    color: $input-placeholder;
  }
  .button.large {
    margin: 50px 0 70px 0;
  }

  .post-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    p {
      font-family: $inter;
      margin: 55px 0;
    }
  }
  .error {
    color: red;
    font-size: 16px;
  }
  .error:last-child {
    margin-bottom: 10px;
  }
}
