@import '../../assets/scss/fonts.scss';
@import '../../components/pizzaItem/pizzaItem.scss';

.main-pizza {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 140px 0px 140px;
  p {
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    font-family: $inter;
  }
  .pizzas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
  }
}
